<extend name="Public/base"/><block name="body">	<div class="fixed-bar" id="Message_Bar">
		<div class="item-title">
			<div class="page-header">
				<h1><a href="{:U('Admin/Message/index')}">留言</a>
					<small>
						<i class="icon-double-angle-right"></i>
						<span class="lead">&nbsp;&nbsp;查看详情</span>
					</small>
				</h1>
			</div>
		</div>
	</div>
	<div class="col-xs-12 marg-top">
		<div class="form-group">
			<p class="lead"> 
			姓名:
			<span class="remove_bold">
				{$_info["username"]}
			</span> 
			</p>
		</div>
		<hr/>
		<div class="form-group">
			<p class="lead"> 
			邮箱:
			<span class="remove_bold">
				{$_info["email"]}
			</span> 
			</p>
		</div>
		<hr/>
		<div class="form-group">
			<p class="lead"> 
			留言:
			<span class="remove_bold">
				{$_info["message"]}
			</span> 
			</p>
		</div>
		<hr/>
		<div class="clearfix">
			<div class="col-md-offset-1 col-md-9">
				<button class="btn btn-md btn-success" type="button" onclick="history.go(-1)" >
					<i class="icon-arrow-left bigger-110"></i>
					<span class="lead">返回</span>
				</button>
			</div>
		</div>
	</div>
</block>