/*all tag*/
* { padding: 0; margin: 0; border: none; font-size: 3vw; font-family: "楷体",Georgia,Serif; }
html, body { height: 100%; overflow: hidden; }

/*image*/
.image{z-index:5;position:fixed;width:8vh;height:8vh;right:2vh;top:2vh;border:0.706vw solid #EA2645;border-radius:50%;background:#fff}
.image > img:first-of-type{position:absolute;width:6.2vh;height:6.2vh;top:0;right:0;bottom:0;left:0;margin:auto}
.image > img:last-of-type { position: absolute; width: 4.3vw; height: 6.3604vw; top: 3.533vw; right: 0; }
.image > img.play { animation: music_disc 2s linear 0s infinite; -webkit-animation: music_disc 2s linear 0s infinite; }
@keyframes music_disc {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes music_disc {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
/*page*/
.page { width: 100%; height: 100%; position: absolute; }

/*page1*/
#page1 { display: block; }
#page1 > .bg { width: 100%; height: 100%; background: url('../images/p1_bg.jpg') no-repeat center center; background-size: 100%; position: absolute; z-index: -1; }

#page1 > .p1_lantern { position: absolute; color: #fff; top: 20vh; left: 0; right: 0; margin: auto; height:20vh; width: 20vh; text-align: center;  box-sizing: border-box; font-size: 3em; background:#D92952; 
	-webkit-transform: rotate(45deg);  
    -moz-transform: rotate(45deg);  
    -ms-transform: rotate(45deg);  
    -o-transform: rotate(45deg);  
    transform: rotate(45deg); 
    animation: p1_lantern .5s linear  0s infinite alternate; -webkit-animation: p1_lantern .5s linear 0s infinite alternate; }


#page1 > .p1_lantern:before { z-index: -1; content: ""; position: absolute; top: 0; left: -22vh; right: 0; margin: auto; height: 20vh; width: 20vh;border-bottom-left-radius: 50%;border-top-left-radius: 50%; background: #D92952; animation: p1_lantern .5s linear  0s infinite alternate; -webkit-animation: p1_lantern .5s linear 0s infinite alternate; }


#page1 > .p1_lantern:after { z-index: -1; content: ""; position: absolute; top: -11vh; left: 0; right: 0; margin: auto; height: 20vh; width: 20vh; border-top-left-radius: 50%;border-top-right-radius: 50%; background: #D92952; animation: p1_lantern .5s linear  0s infinite alternate; -webkit-animation: p1_lantern .5s linear 0s infinite alternate; 

}
@keyframes p1_lantern {
	0% { box-shadow: 0 0 3vw 3vw #D92952}
	100% { box-shadow: 0 0 1vw 1vw #D92952}
}
@-webkit-keyframes p1_lantern {
	0% { box-shadow: 0 0 3vw 3vw #D92952}
	100% { box-shadow: 0 0 1vw 1vw #D92952}
	/*0% {  -webkit-transform: scale(.8, .8); transform: scale(.8, .8); }
	100% { opacity: 1; }*/
}
#page1 .ilike{
	position: absolute;right:0;top:50vh;left:0;margin:auto;text-align: center;font-size:2em;height: 6vh;line-height: 6vh;
}
#page1 > .p1_imooc { width: 20vh; height: 20vh; position: absolute;top:56vh; right: 0; bottom: 0; left: 0; margin: auto; background: url('../images/p1_imooc.png') no-repeat center center; background-size: 100%; }
#page1 > .p1_words { position: absolute;top:90vh; right: 0; bottom: 0; left: 0; margin: auto; text-align: center; font-size: 2.5rem;height: 10vh;line-height: 10vh; }

/*page2*/
#page2 { display: none; -webkit-transition: 3s; transition: 3s; }
#page2.fadeOut { opacity: .3; -webkit-transform: translate(0, -100%); transform: translate(0, -100%); }
#page2 > .bg { z-index: -1; width: 100%; height: 100%; background: url('../images/p2_bg.jpg')no-repeat center center; background-size: 100%; animation: bg 2s linear  forwards; -webkit-animation: bg 2s linear  forwards; }
@keyframes bg {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes bg {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
#page2 > .p2_circle { width: 61.4334vw; height: 61.4334vw; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; background: url('../images/p2_circle_outer.png') no-repeat center center; background-size: 100%; -webkit-animation: p2_circle_outer 1s linear 3s infinite; animation: p2_circle_outer 1s linear 3s infinite; }
@keyframes p2_circle_outer {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@-webkit-keyframes p2_circle_outer {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}
#page2 > .p2_circle:before { content: ""; width: 46.075vw; height: 46.075vw; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; background: url('../images/p2_circle_middle.png') no-repeat center center; background-size: 100%; -webkit-animation: p2_circle_middle 1s linear 2s infinite; animation: p2_circle_middle 1s linear 2s infinite; }
@-webkit-keyframes p2_circle_middle {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(720deg); transform: rotate(720deg); }
}
@keyframes p2_circle_middle {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(720deg); transform: rotate(720deg); }
}
#page2 > .p2_circle:after { content: ""; width: 37.5426vw; height: 37.5426vw; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; background: url('../images/p2_circle_inner.png') no-repeat center center; background-size: 100%; -webkit-animation: p2_circle_inner 1s linear 1s infinite; animation: p2_circle_inner 1s linear 1s infinite; }
@-webkit-keyframes p2_circle_inner {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-1080deg); transform: rotate(-1080deg); }
}
@keyframes p2_circle_inner {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-1080deg); transform: rotate(-1080deg); }
}
#page2 > .p2_2016 { width: 30.1296vw; height: 30.1296vw; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; background: url('../images/p2_2016.png') no-repeat center center; background-size: 100%;border-radius: 50%; }
#page2 .p2_word{
	position: absolute;
	top:75vh;
	left:0;
	right: 0;
	margin:auto;
	font-size:2em;
	color:#fff;
	text-align: center;
}
/*page3*/

#page3 { display: none; transition: 3s; -webkit-transition: 3s; }

#page3.fadeIn { -webkit-transform: translate(0, -100%); transform: translate(0, -100%); }
#page3 > .bg { width: 100%; height: 100%; background: url('../images/p3_bg.jpg') repeat-y; background-size:100%; }
#page3 > .bg:before{content:"";background-color: #000;position:absolute;top:0;left:0;width: 100vw;height: 100vh;opacity: 0.3;}

/*模拟打字*/
.typewriter{display:none;}
.typewriter:after{content:"_";animation:flash .6s steps(2,start) infinite;-webkit-animation:flash .6s steps(2,start) infinite;}
.typewriter.gameover:after{display:none;}
@keyframes flash{
   0%{visibility:visible;}
   100%{visibility:hidden;}
}
@-webkit-keyframes flash{
   0%{visibility:visible;}
   100%{visibility:hidden;}
}
#page3 .p3_word{
	position: absolute;
	width: 80vw;
	margin:auto;
	top:10vh;
	left:0;
	right: 0;
	font-size: 3em;
	color:#00ffa3;
	text-indent: 40px;
	font-family: "KaiTi";
	font-weight: bold;
}
#page3 .total_time{
	width: 80vw;
	margin:auto;
	position: absolute;
	top:50vh;
	left:0;
	right: 0;
	font-size: 3.5em;
	color:#fff;
	text-align: center;
	font-family: "KaiTi";
}

#page3 > .p3_left { position: absolute; left: 20vw; top:80vh;bottom: 0;  width: 25vw; height: 25vw; background: url('../images/p3_left.png') no-repeat center center; background-size: 100%; animation: p3_blessing 2s linear 1s infinite; -webkit-animation: p3_blessing 2s linear 1s infinite; border-radius: 50%}
#page3 > .p3_center{
	position: absolute;width: 20vw;height: 20vw;left: 0;right: 0;top: 80vh;bottom: 0;margin:auto;background: url('../images/heart.png') no-repeat center center;background-size: 100%;z-index: 99;
}
#page3 > .p3_right { position: absolute;  right: 20vw;top:80vh; bottom: 0;  width: 25vw; height: 25vw; background: url('../images/p3_right.png') no-repeat center center; background-size: 100%; animation: p3_blessing2 2s linear 1s infinite ; -webkit-animation: p3_blessing2 2s linear 1s infinite ; border-radius: 50%}

@keyframes p3_blessing {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes p3_blessing {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes p3_blessing2 {
	0% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
	100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}
@-webkit-keyframes p3_blessing2 {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}