<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatitle" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>ThinkPHP模型自动验证和填充</title>
</head>
<body>
	<div class="container" style="margin-top: 32px;">
		<a href="#modal-id" class="btn btn-primary" data-toggle="modal">新增用户</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>id</th>
					<th>username</th>
					<th>email</th>
					<th>password</th>
					<th>create_time</th>
					<th>status</th>
					<th>birthday</th>
					<th>sex</th>
					<th>ip</th>
				</tr>
			</thead>
			<tbody>
				<volist name='users' id='user'>
					<tr>
						<td>{$user.id}</td>
						<td>{$user.username}</td>
						<td>{$user.email}</td>
						<td>{$user.password}</td>
						<td>{$user.create_time|date="Y-m-d",###}</td>
						<td>{$user.status}</td>
						<td>{$user.birthday}</td>
						<td>{$user.sex}</td>
						<td>{$user.ip}</td>
					</tr>
				</volist>
			</tbody>
		</table>
		<hr/>
	</div>
	<div class="modal fade" id="modal-id">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
					</button>
					<h4 class="modal-title">新增用户</h4>
				</div>
				<div class="modal-body">
					<form action="__SELF__" method="post" role="form" class="form-horizontal">
						<!--用户名-->
						<div class="form-group">
							<label class="col-xs-2">
								用户名
							</label>
							<div class="col-xs-6">
								<input type="text" class="form-control" name="username" value="{$old.username}">
							</div>
							<div class="col-xs-4">
								<if condition="isset($errors['username'])">
									<b>{$errors.username}</b>
								</if>
							</div>
						</div>
						<!--电子邮件-->
						<div class="form-group">
							<label class="col-xs-2">电子邮件</label>
							<div class="col-xs-6">
								<input type="text" class="from-control" name="email" value="{$old.email}">
							</div>
							<div class="col-xs-4">
								<if condition="isset($error['email'])">
									<b>{$errors.email}</b>
								</if>
							</div>
						</div>
						<!--密码-->
						<div class="form-group">
							<label class="col-xs-2">密码</label>
							<div class="col-xs-6">
								<input type="password" class="from-control" name="password" value="{$old.password}">
							</div>
							<div class="col-xs-4">
								<if condition="isset($error['password'])">
									<b>{$errors.password}</b>
								</if>
							</div>
						</div>
						<!--验证密码-->
						<div class="form-group">
							<label class="col-xs-2">确认密码</label>
							<div class="col-xs-6">
								<input type="password" class="from-control" name="comfirm_password" value="{$old.comfirm_password}">
							</div>
							<div class="col-xs-4">
								<if condition="isset($error['comfirm_password'])">
									<b>{$errors.comfirm_password}</b>
								</if>
							</div>
						</div>
						<!--生日-->
						<div class="form-group">
							<label class="col-xs-2">生日</label>
							<div class="col-xs-6">
								<input type="text" class="from-control" name="birthday" value="{$old.birthday}">
							</div>
							<div class="col-xs-4">
								<if condition="isset($error['birthday'])">
									<b>{$errors.birthday}</b>
								</if>
							</div>
						</div>
						<!--性别-->
						<div class="form-group">
							<label class="col-xs-2">性别</label>
							<div class="col-xs-6">
								<select name="sex" class="form-control">
									<option value="0">不确定</option>
									<option value="1">男</option>
									<option value="2">女</option>
								</select>
							</div>
							<div class="col-xs-4">
								<if condition="isset($error['sex'])">
									<b>{$errors.sex}</b>
								</if>
							</div>
						</div>
						<!--猜猜看-->
						<div class="form-group">
							<label class="col-xs-2">猜猜看</label>
							<div class="col-xs-6">
								<input type="text" class="from-control" name="friends" value="{$old.friends}">
							</div>
							<div class="col-xs-4">
								<if condition="isset($error['friends'])">
									<b>{$errors.friends}</b>
								</if>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-10 col-sm-offset-2">
								<button class="btn btn-primary">注册</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<if condition="isset($errors)">
		<script type="text/javascript">
			$(funtion(){
				$('#modal-id').modal('show');
			});
		</script>
	</if>
</body>
</html>