<extend name="Public/base"/><block name="body"><div class="fixed-bar" id="Position_Bar">
	<div class="item-title">
		<div class="page-header">
			<h1>招聘职位				<small>
					<i class="icon-double-angle-right"></i>
					<span class="lead">&nbsp;&nbsp;列表</span>
					<a class="top_a" href="JavaScript:void(0);" onclick="Data_Search('Position_Search_From','Position_Data_List');"><span>搜索</span></a>
					<if condition="Is_Auth('Admin/Position/add')">
					<a class="top_a" href="{:U('Admin/Position/add')}"><span>新增</span></a>
					</if>
				</small>
			</h1>
		</div>
	</div>
</div>
<div style="display: none">
  <form id="Position_Search_From" class="search_from">
	
    <div class="form-group">
			<label class="col-xs-2 control-label no-padding-right" for="form-field-1"> 职位名称 : </label>

			<div class="col-xs-10">
				<input name="s_name" type="text" class="col-xs-10">			</div>
		</div>
		<div style="clear:both;">
			
		</div>
		<hr/><div class="form-group">
			<label class="col-xs-2 control-label no-padding-right" for="form-field-1"> 工作地点 : </label>

			<div class="col-xs-10">
				<input name="s_place" type="text" class="col-xs-10">			</div>
		</div>
		<div style="clear:both;">
			
		</div>
		<hr/><div class="form-group">
			<label class="col-xs-2 control-label no-padding-right" for="form-field-1"> 招聘人数 : </label>

			<div class="col-xs-10">
				<input name="s_number" type="text" class="easyui-numberbox" class="col-xs-10">			</div>
		</div>
		<div style="clear:both;">
			
		</div>
		<hr/><div class="form-group">
			<label class="col-xs-2 control-label no-padding-right" for="form-field-1"> 薪资待遇 : </label>

			<div class="col-xs-10">
				<input name="s_salary" type="text" class="col-xs-10">			</div>
		</div>
		<div style="clear:both;">
			
		</div>
		<hr/><div class="form-group">
			<label class="col-xs-2 control-label no-padding-right" for="form-field-1"> 发布日期 : </label>

			<div class="col-xs-10">
				<input name="s_publicdate_min" type="text" class="easyui-datetimebox" style="height:30px;"> - <input name="s_publicdate_max" type="text" class="easyui-datetimebox" style="height:30px;">			</div>
		</div>
		<div style="clear:both;">
			
		</div>
		<hr/><div class="form-group">
			<label class="col-xs-2 control-label no-padding-right" for="form-field-1"> 结束日期 : </label>

			<div class="col-xs-10">
				<input name="s_enddate_min" type="text" class="easyui-datebox" style="height:30px;"> - <input name="s_enddate_max" type="text" class="easyui-datebox" style="height:30px;">			</div>
		</div>
		<div style="clear:both;">
			
		</div>
		<hr/><div class="form-group">
			<label class="col-xs-2 control-label no-padding-right" for="form-field-1"> 工作内容 : </label>

			<div class="col-xs-10">
				
	<div class="col-xs-12">
	<div class="wysiwyg-editor editor" id="content_editor"></div>
	<textarea style="display:none" id="editor_content" name="content"></textarea>
	<script type="text/javascript">
		$("#content_editor").blur(function()
		{
			$("#editor_content").html($("#content_editor").html());
		})

	</script>
	</div>			</div>
		</div>
		<div style="clear:both;">
			
		</div>
		<hr/><div class="form-group">
			<label class="col-xs-2 control-label no-padding-right" for="form-field-1"> 岗位要求 : </label>

			<div class="col-xs-10">
				
	<div class="col-xs-12">
	<div class="wysiwyg-editor editor" id="request_editor"></div>
	<textarea style="display:none" id="editor_request" name="request"></textarea>
	<script type="text/javascript">
		$("#content_editor").blur(function()
		{
			$("#editor_request").html($("#request_editor").html());
		})

	</script>
	</div>			</div>
		</div>
		<div style="clear:both;">
			
		</div>
		<hr/><div class="form-group">
			<label class="col-xs-2 control-label no-padding-right" for="form-field-1"> 状态 : </label>

			<div class="col-xs-10">
				<select name="state" class="col-xs-7 col-sm-3 col-lg-3 col-md-3" id="s_state"  def-data="1"><option value="0"
				>不可用</option><option value="1"
				>可用</option></select><script type="text/javascript">
			var sel=document.getElementById('s_state');
			var opt=sel.getElementsByTagName('option');
			var def=sel.getAttribute('def-data');
			for(var i=0;i<opt.length;i++){
				if(def==opt[i].value){
					opt[i].setAttribute("selected","selected");
				};
			}
			</script>
						</div>
		</div>
		<div style="clear:both;">
			
		</div>
		<hr/>  </form>
</div>

<table id="Position_Data_List"></table>

<script type="text/javascript">
$(function() {
	$("#Position_Data_List").datagrid({
		url : "{:U('Position/index')}",
		fit : true,
		striped : true,
		border : false,
		pagination : true,
		pageSize : 20,
		pageList : [ 10, 20, 50 ],
		pageNumber : 1,
		sortName : 'id',
		sortOrder : 'desc',
		toolbar : '#Position_Bar',
		singleSelect : true,
		columns : [[
            {field : 'id',title : 'ID',width : 40,sortable:true},
{field : "name",title : "职位名称",width :100,sortable:true},{field : "place",title : "工作地点",width :100,sortable:true},{field : "number",title : "招聘人数",width :100,sortable:true},{field : "salary",title : "薪资待遇",width :100,sortable:true},{field : "state",title : "状态",width :100,sortable:true,formatter: function (value, row, index) {
			var op_state=new Array()
			op_state["0"]="不可用"
			op_state["1"]="可用"
			
			return op_state[value];
			}},
						{field : "operate",title : "操作",width : 200,formatter: function (value, row, index) {
				operate_menu='';
				
				<if condition="Is_Auth('Admin/Position/edit')">
				operate_menu = operate_menu+"<a href='<?php echo U('edit'); ?>&id="+row.id+"' >编辑</a>";
				</if>

				<if condition="Is_Auth('Admin/Position/del')">
				operate_menu = operate_menu+" | <a href='#' onclick=\"Data_Remove('<?php echo U('del'); ?>&id="+row.id+"','Position_Data_List');\">删除</a>";
				</if>

				return operate_menu;
			}}
		]]
	});
})
</script></block>