<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{:C('SOFT_NAME')}|Ace管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- favicon -->
	<link href="__IMG__/favicon.ico" mce_href="__IMG__/favicon.ico" rel="bookmark" type="image/x-icon" /> 
    <link href="__IMG__/favicon.ico" mce_href="__IMG__/favicon.ico" rel="icon" type="image/x-icon" /> 
    <link href="__IMG__/favicon.ico" mce_href="__IMG__/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
	<!-- basic styles -->

	<link href="__STATIC__/aceAdmin/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="__STATIC__/aceAdmin/css/font-awesome.min.css" />

	<!--[if IE 7]>
	<link rel="stylesheet" href="__STATIC__/aceAdmin/css/font-awesome-ie7.min.css" />
	<![endif]-->

	<!-- page specific plugin styles -->

	<!-- fonts -->

	<link rel="stylesheet" href="__STATIC__/aceAdmin/css/open_sans.css" />

	<!-- ace styles -->

	<link rel="stylesheet" href="__STATIC__/aceAdmin/css/ace.min.css" />
	<link rel="stylesheet" href="__STATIC__/aceAdmin/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="__STATIC__/aceAdmin/css/ace-skins.min.css" />
	<link rel="stylesheet" href="__CSS__/main.css" />

	<!--[if lte IE 8]>
	<link rel="stylesheet" href="__STATIC__/aceAdmin/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->
	<script src="__STATIC__/aceAdmin/js/ace-extra.min.js"></script>
	<script src="__STATIC__/aceAdmin/js/jquery-2.0.3.min.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

	<!--[if lt IE 9]>
	<script src="__STATIC__/aceAdmin/js/html5shiv.js"></script>
	<script src="__STATIC__/aceAdmin/js/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<div class="navbar navbar-default" id="navbar">
		<script type="text/javascript">try{ace.settings.check('navbar' , 'fixed')}catch(e){}</script>

		<div class="navbar-container" id="navbar-container">
			<div class="navbar-header pull-left">
				<a href="{:U('Admin/Index/index')}" class="navbar-brand">
					<small> <i class="icon-leaf"></i>
						中科鸿和后台管理系统
					</small>
				</a>
				<!-- /.brand -->
			</div>
			<!-- /.navbar-header -->

			<div class="navbar-header pull-right" role="navigation">
				<ul class="nav ace-nav">

					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">
							<span class="user-info">
								<small>欢迎光临,</small>
								{$UserInfo['nickname']}[{$UserInfo['username']}]
							</span> <i class="icon-caret-down"></i>
						</a>

						<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li>
								<a href="{:U('Index/cache')}">
									<i class="icon-cog"></i>
									更新缓存
								</a>
							</li>

							<li>
								<a href="#">
									<i class="icon-user"></i>
									个人资料
								</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="{:U('Public/logout')}">
									<i class="icon-off"></i>
									退出
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<!-- /.ace-nav -->
			</div>
			<!-- /.navbar-header -->
		</div>
		<!-- /.container -->
	</div>

	<div class="main-container" id="main-container">
		<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

		<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#">
				<span class="menu-text"></span>
			</a>

			<div class="sidebar" id="sidebar">

				<ul class="nav nav-list">
					<li>
						<a href="{:U('Admin/Index/index')}">
							<i class="icon-dashboard"></i>
							<span class="menu-text otext">控制台</span>
						</a>
					</li>
					<volist name="AdminMenu" id='v1'>
						<li>
							<notempty name="v1.children">
								<a href="javascript:;" class="dropdown-toggle">
									<span class="{$v1.icon}"></span>
									<span class="menu-text otext">{$v1.title}</span> <b class="arrow icon-angle-down"></b>
								</a>
								<ul class="submenu">
									<volist name="v1.children" id="v2">
										<li>
											<notempty name="v2.children">
												<a href="javascript:;" class="dropdown-toggle">
													<span class="{$v2.icon}"></span>
													<span class="menu-text">{$v2.title}</span> <b class="arrow icon-angle-down"></b>
												</a>
												<ul class="submenu">
													<volist name="v2.children" id="v3">
														<li>
															<a class="click_menu" href="__ROOT__{$v3.url}" target="iframe">
															
																<span>
																<span class="{$v3.icon} marg_right"></span>{$v3.title}</span>
															</a>
															<li></volist>
														</ul>
														<else />
														<a class="click_menu" href="__ROOT__{$v2.url}" target="iframe">
															
															<span>
															<span class="{$v2.icon}"></span>
															{$v2.title}</span>
														</a>
													</notempty>
												</li>
											</volist>
										</ul>
										<else/>
										<a class="click_menu" href="__ROOT__{$v1.url}" target="iframe">
											
											<span>
											<span class="{$v2.icon}"></span>
											{v1.title}</span>
										</a>
									</notempty>
								</li>
							</volist>
						</ul>
						<!-- /.nav-list -->

						<div class="sidebar-collapse" id="sidebar-collapse">
							<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
						</div>

						<script type="text/javascript">try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}</script>
					</div>

					<div class="main-content">
						<div class="breadcrumbs" id="breadcrumbs">
							<script type="text/javascript">try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}</script>

							<ul class="breadcrumb rep_out">
								<li>
									<i class="icon-home home-icon"></i>
									<a href="{:U('Admin/Index/index')}">首页</a>
								</li>
								<li>
									<a href="{:U('Admin/Index/main')}" target="iframe">
										<i class="icon-double-angle-right"></i>
										控制台
									</a>
								</li>
							</ul>
							<!-- 更改顶部显示的栏目 -->
							<script type="text/javascript">
								$(function(){
									$('.click_menu').bind('click',function(){
										var bo=true;//判断是否已经有了
										var $this = $(this);
										var outt=$this.parent()[0].innerText;
										$('.rep_out li').each(function(index){
											//去掉所有的当前类
											$(this).find('span').removeClass('current');

											innert=$(this)[0].innerText;
											if($.trim(innert)==$.trim(outt)){
												var $th=$(this);
												bo=false;
											}
											//给点击的图标添加当前类
											if($th){
												$th.find('span').addClass('current');
											}
										});
										//生成新节点
										if(bo){
											//在顶部生成新的节点并获取该节点
											var $t=$this.parent().clone().append("<i class='icon-remove-sign iclose' style='cursor:pointer;'></i>").appendTo('.rep_out');
											//为新生成的节点添加当前类
											$t.find('span').addClass('current');
											//为新节点添加单击事件
											$t.bind('click',function(){
												//去掉所有的当前类
												$('.current').removeClass('current');
												//为单击的目标添加当前类
												$t.find('span').addClass('current');
											})
											//为新节点的关闭按钮添加单击事件
											$t.find('i').bind('click',function(){
												//移除该节点
												$(this).parent().remove();
												//如何该节点为当前节点，关闭后选取最后一个节点为当前节点
												if($(this).parent().find('span').attr('class')=='current'){
													$('.rep_out li:last span').addClass('current');
													$('#ifra').attr('src',$('.rep_out li:last a').attr('href'));
												}
											})
										}
									});
								})
							</script>
							<!-- 更改顶部显示的栏目 -->
							<!-- .breadcrumb -->

							<!-- #nav-search
							<div class="nav-search" id="nav-search">
								<form class="form-search">
									<span class="input-icon">
										<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
										<i class="icon-search nav-search-icon"></i>
									</span>
								</form>
							</div> -->
							<!-- #nav-search -->
						</div>
						<!-- 动态设定iframe的宽和高 -->
							<script type="text/javascript">
								window.onload=function(){
									var w=document.documentElement.clientWidth || document.body.clientWidth;
									var h=document.documentElement.clientHeight || document.body.clientHeight;
									var sidebarW=document.getElementById('sidebar').offsetWidth;
									var page_content=document.getElementById('page-content');
									page_content.style.width=w-sidebarW+'px';
									page_content.style.height=h-90+'px';
								}
							</script>
						<!-- 动态设定iframe的宽和高 -->
						<div class="page-content" id="page-content">
							<!-- /.page-header -->
							<iframe scrolling="yes" frameborder="0" name="iframe" src="{:U('Admin/Index/main')}" style="width:100%;height:100%;" id="ifra"></iframe>
						</div>
						<!-- /.page-content -->
					</div>
					<!-- /.main-content -->

					<div class="ace-settings-container" id="ace-settings-container">
						<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
							<i class="icon-cog bigger-150"></i>
						</div>

						<div class="ace-settings-box" id="ace-settings-box">
							<div>
								<div class="pull-left">
									<select id="skin-colorpicker" class="hide">
										<option data-skin="default" value="#438EB9">#438EB9</option>
										<option data-skin="skin-1" value="#222A2D">#222A2D</option>
										<option data-skin="skin-2" value="#C6487E">#C6487E</option>
										<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
									</select>
								</div>
								<span>&nbsp; 选择皮肤</span>
							</div>

							<div>
								<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
								<label class="lbl" for="ace-settings-navbar">固定导航条</label>
							</div>

							<div>
								<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
								<label class="lbl" for="ace-settings-sidebar">固定滑动条</label>
							</div>

							<div>
								<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
								<label class="lbl" for="ace-settings-breadcrumbs">固定面包屑</label>
							</div>

							<div>
								<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
								<label class="lbl" for="ace-settings-rtl">切换到左边</label>
							</div>

							<div>
								<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
								<label class="lbl" for="ace-settings-add-container">
									切换窄屏
									<b></b>
								</label>
							</div>
						</div>
					</div>
					<!-- /#ace-settings-container -->
				</div>
				<!-- /.main-container-inner -->

				<!-- <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
			-->
		</div>
		<!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]>
		-->
		<script src="__STATIC__/aceAdmin/js/jquery-2.0.3.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script src="__STATIC__/aceAdmin/js/jquery-1.10.2.min.js"></script>
		<![endif]-->

		<!--[if !IE]>
		-->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='__STATIC__/aceAdmin/js/jquery-2.0.3.min.js'>"+"<"+"script>");</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
 window.jQuery || document.write("<script src='__STATIC__/aceAdmin/js/jquery-1.10.2.min.js'>"+"<"+"script>");</script>
		<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__STATIC__/aceAdmin/js/jquery.mobile.custom.min.js'>"+"<"+"script>");</script>
		<script src="__STATIC__/aceAdmin/js/bootstrap.min.js"></script>
		<script src="__STATIC__/aceAdmin/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		<script src="__STATIC__/aceAdmin/js/excanvas.min.js"></script>
		<![endif]-->

		<script src="__STATIC__/aceAdmin/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__STATIC__/aceAdmin/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__STATIC__/aceAdmin/js/jquery.slimscroll.min.js"></script>
		<script src="__STATIC__/aceAdmin/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__STATIC__/aceAdmin/js/jquery.sparkline.min.js"></script>
		<script src="__STATIC__/aceAdmin/js/flot/jquery.flot.min.js"></script>
		<script src="__STATIC__/aceAdmin/js/flot/jquery.flot.pie.min.js"></script>
		<script src="__STATIC__/aceAdmin/js/flot/jquery.flot.resize.min.js"></script>

		<!-- ace scripts -->

		<script src="__STATIC__/aceAdmin/js/ace-elements.min.js"></script>
		<script src="__STATIC__/aceAdmin/js/ace.min.js"></script>
</body>
	</html>